#
# Import a micelle and solvate in water and ions
#

tolerance 2.9

structure cgw.pdb
  number 4182
  inside box 0.0 0.0 50.0 50.0 50.0 100.0
end structure

tolerance 4.0

structure nonane.pdb
  number 423
  inside box 0.0 0.0 0.0 50.0 50.0 50.0
end structure

structure nonane.pdb
  number 423
  inside box 0.0 0.0 100.0 50.0 50.0 150.0
end structure

output water_alkane.pdb

