# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Gromacs files
*.log
*.trr
*.xtc
confout*.gro
*.gro
*.edr
*.out
*.cpt
*.tpr
*.ndx
eq_npt/npt.mdp
npt/npt.mdp
nvt/nvt.mdp
topo/topol.top
init/water_alkane.inp
mdout.mdp
dummy.tpr
table*.xvg
\#*
*.sh.e*
*.sh.o*
*.xvg
# Misc
init/water_alkane.pdb
