# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Gromacs files
*.log
*.trr
*.xtc
confout*.gro
*.edr
*.out
*.cpt
*.tpr
*.ndx
mdout.mdp
dummy.tpr

# Misc
init/water_alkane.pdb
