# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Gromacs files
*.log
*.trr
*.xtc
confout*.gro
*.gro
*.edr
*.out
*.cpt
*.tpr
*.ndx
*.raw
*.dat
*.pdf
*.png
*.txt
*.mdp
!dummy.mdp
!commands.txt
umbrella/**/
!umbrella/analysis

umbrella/RESTART_PROD.sh
pull_analysis/**/frame-*
pull_analysis/*.dat
pull_analysis/topol.top
pull_analysis/plots/*
topo/topol.top
table*.xvg
\#*
*.sh.e*
!*.sh.example
*.sh.o*
*.xvg
