; em.mdp - used as input into grompp to generate ions.tpr
; Parameters describing what to do, when to stop and what to save
include     = -I/rds/general/user/mk8118/home/CODE
integrator  = md         ; Algorithm (steep = steepest descent minimization)
dt          = 0.01
nstcomm     = 10
nsteps      = 2000000         ; 20ns
nstxout     = 5000           ; 50ps
nstvout     = 5000
nstfout     = 0
nstlog      = 5000
; Parameters describing how to find the neighbors of each atom and how to calculate the interactions
nstlist         = 5         ; Frequency to update the neighbor list and long range forces
cutoff-scheme	= group     ; old neighbor searching because of non LJ interactions 
ns_type         = grid      ; Method to determine neighbor list (simple, grid)
pbc             = xyz       ; Periodic Boundary Conditions in all 3 dimensions
rlist           = 2.3       ; cutoff for neighbor searching

;Electrostatics
coulombtype     = PME       ; Treatment of long range elctrostatic interactions
rcoulomb        = 2.3         ; cutoff for coulomb interactions
epsilon-r       = 78.74
fourierspacing  = 0.12
pme-order       = 4
ewald-rtol      = 1e-5
;VDW
vdwtype         = user     ; Needs shifting via modifier
vdw-modifier    = None     ; shift potential
rvdw            = 2.0         ; vdw cutoff

energygrps = W2 CT CM Na+ SO4v9
energygrp_table = W2 W2 CT CT CM CM Na+ Na+ SO4v9 SO4v9 W2 CT W2 CM W2 Na+ W2 SO4v9 CT CM CT Na+ CT SO4v9 CM Na+ CM SO4v9 Na+ SO4v9

tcoupl   = Nose-Hoover;
tc-grps  = SDS NA+_WIFT25;
tau-t    = 5.0 5.0;
ref-t    = 298.15 298.15 ;

pcoupl          = Parrinello-Rahman ;
pcoupltype      = isotropic ;
tau-p           = 12.0 ;
compressibility = 0.000045 ;
ref-p           = 1.01325 ;

gen_vel  = no

; Pull code
pull                 = yes
pull_ncoords         = 1        ; one reaction coordinate
pull_ngroups         = 2        ; pull between two groups
pull_group1_name     = micelle  ; static part
pull_group2_name     = monomer  ; pulled monomer
pull_coord1_type     = umbrella ; harmonic potential
pull_coord1_geometry = distance ; pull along connecting vector of groups
pull_coord1_dim      = Y Y Y    ; radial pulling
pull_coord1_groups   = 1 2      ; groups to pull together
pull_coord1_start    = yes      ; Adds the COM distance of group to initial pull coord
pull_coord1_init     = 0.0      ; see above
pull_coord1_rate     = 0.000    ; pull rate: nm/ps
pull_coord1_k        = 1200     ; spring constant: kJ/mol/nm^2
pull_group1_pbcatom  = XPBCATOMX ; Which atom to choose for (initial?) pbc calculation
pull_pbc_ref_prev_step_com = yes ; COM of prev. step is used as ref

