; em.mdp - used as input into grompp to generate ions.tpr
; Parameters describing what to do, when to stop and what to save
integrator  = md         ; Algorithm (steep = steepest descent minimization)
dt          = 0.01
nstcomm     = 1000
nsteps      = 3000000         ; Maximum number of (minimization) steps to perform
nstxout     = 5000
nstvout     = 5000
nstfout     = 0
nstlog      = 5000
; Parameters describing how to find the neighbors of each atom and how to calculate the interactions
nstlist         = 5         ; Frequency to update the neighbor list and long range forces
cutoff-scheme	= group     ; old neighbor searching because of non LJ interactions 
ns_type         = grid      ; Method to determine neighbor list (simple, grid)
pbc             = xyz       ; Periodic Boundary Conditions in all 3 dimensions
rlist           = 2.3       ; cutoff for neighbor searching

;Electrostatics
coulombtype     = PME       ; Treatment of long range elctrostatic interactions
rcoulomb        = 2.3         ; cutoff for coulomb interactions
epsilon-r       = 78.74
;VDW
vdwtype         = user     ; Needs shifting via modifier
vdw-modifier    = None     ; shift potential
rvdw            = 2.0         ; vdw cutoff

energygrps = W2 CT CM Na+ SO4v9
energygrp_table = W2 W2 CT CT CM CM Na+ Na+ SO4v9 SO4v9 W2 CT W2 CM W2 Na+ W2 SO4v9 CT CM CT Na+ CT SO4v9 CM Na+ CM SO4v9 Na+ SO4v9

tcoupl   = nose-hoover;
tc-grps  = SDS NA+_W2;
tau-t    = 5 5;
ref-t    = 298.15 298.15 ;

pcoupl          = parrinello-rahman ;
pcoupltype      = isotropic ;
tau-p           = 10 ;
compressibility = 0.000045 ;
ref-p           = 1.01325 ;

